.carousel {
  height: 50vh;
  overflow: hidden;
}
.carousel .chevrons {
  /* border: solid 1px red; */
  position: absolute;
}
.carousel .chevrons div {
  position: absolute;
  top: 320px;
  cursor: pointer;
  z-index: 20;
}
.carousel .chevrons .left-chevron {
  left: 50px;
}
.carousel .chevrons .right-chevron {
  right: 50px;
}
.carousel .chevrons div i {
  color: rgb(255, 255, 255, 0.7);
  font-size: 60px;
}
.carousel .indicator-wrapper {
  position: relative;
}
.carousel .indicator-wrapper .indicator {
  position: absolute;
  left: 50vw;
  top: calc(42vh + 36px);
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  width: 90px;
}
.carousel .indicator-wrapper .indicator .slug {
  width: 7px;
  height: 7px;
  border-radius: 3.5px;
  background-color: rgb(255, 255, 255, 0.7);
  transition: all 0.5s;
}
.carousel .indicator-wrapper .indicator .slug:first-child {
  width: 50px;
}
.carousel .carousel-constainer {
  height: 0;
  position: relative;
  left: -100vw;
  display: flex;
  width: 300vw;
  height: 100%;
}
.carousel .carousel-constainer .carousel-box {
  position: relative;
  width: 100vw;
  height: 100%;
  overflow: hidden;
  transition: all 0.5s;
}
.carousel .carousel-constainer .carousel-box img {
  position: absolute;
  width: 100%;
  opacity: 0.4;
  filter: blur(50px);
}
.movies-grouped {
  height: 150vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 30px 60px 30px;
  gap: 20px;
}
.movies-grouped > div {
  color: white;
  font-size: 36px;
  font-weight: 900;
  padding-top: 40px;
  width: 100%;
  height: 100%;
}
.movies-grouped > div .divider {
  position: relative;
  background-color: white;
  height: 2px;
  width: 75%;
  margin-left: 10%;
  top: -4%;
}
.movies-grouped > div .divider h2 {
  display: block;
  position: absolute;
  top: -24px;
  right: -12px;
  background-color: rgb(30, 30, 30);
  padding: 0 20px;
}
.movies-grouped > div .list-wrapper {
  overflow: auto;
  height: 100%;
}
.movies-grouped > div .list-wrapper .movie-list {
  min-width: fit-content;
  width: calc(100% - 60px);
  height: 90%;
  padding: 10px 0;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  justify-content: space-around;
  align-items: flex-end;
}
