.board .review-menu {
  position: fixed;
  bottom: -100vh;
  width: 200px;
  height: 100vh;
  background-color: rgb(160, 160, 160);
  transition: all 1s;
}
.board .review-menu h1 {
  font-weight: 900;
  font-size: 25px;
  color: black;
  text-align: end;
  cursor: pointer;
  padding-right: 20px;
  padding-top: 20px;
  transition: all 0.3s;
}
.board .review-menu h1:hover {
  text-shadow: 2px 3px 0px rgb(210, 210, 210);
}
.board .review-menu .divider {
  background-color: rgb(30, 30, 30);
}
.board .review-menu .divider.first {
  margin-top: 6px;
  width: calc(100% - 12px);
  height: 2px;
}
.board .review-menu .divider.second {
  margin-top: 36px;
  width: calc(100% - 28px);
  height: 5px;
}
.board .review-menu ul {
  margin-top: 36px;
  gap: 16px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.board .review-menu ul li {
  width: 0px;
  padding-bottom: 10px;
  display: flex;
  justify-content: flex-end;
  transition: all 0.2s;
}
.board .review-menu ul li:hover {
  text-shadow: 2px 3px 0px rgb(210, 210, 210);
}
.board .review-menu label {
  color: black;
  cursor: pointer;
  font-weight: 900;
  font-size: 40px;
  margin-right: 20px;
}
.board .review-menu .create-review {
  margin-top: 24px;
  color: black;
  font-weight: 900;
  display: flex;
  justify-content: flex-end;
  font-size: 40px;
  cursor: pointer;
  margin-right: 20px;
  transition: all 0.3s;
}
.board .review-menu .create-review:hover {
  text-shadow: 2px 3px 0px rgb(210, 210, 210);
}

.board .make-review {
  cursor: pointer;
  color: white;
  width: 30px;
  height: 30px;
  position: fixed;
  padding: 14px;
  font-size: 30px;
  border-radius: 50%;
  border: solid 2px white;
  box-shadow: 0px 0px 5px white;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 150px;
  bottom: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.board .make-review:hover {
  box-shadow: 0px 0px 10px white;
  box-shadow: 0px 0px 15px white;
}
.boar .review-viewer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.board .review-viewer .review-wrapper {
  display: flex;
  flex-direction: column;
  margin: 20px 0 20px 250px;
  width: calc(100% - 300px);
  padding-bottom: 20px;
}
.board .review-viewer .review-wrapper input[type="checkbox"] {
  display: none;
}
.board .review-viewer .review-wrapper input[type="checkbox"]:checked ~ .review-container {
  padding: 30px 0;
  height: 700px;
  transition: all 0.5s;
  overflow: auto;
}

.board .review-viewer .review-wrapper .heading {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 50px;
}
.board .review-viewer .review-wrapper .heading h2 {
  line-height: 60px;
  display: inline-block;
  height: 60px;
  font-weight: 900;
  font-size: 25px;
  color: white;
  /* border-start-start-radius: 100%; */
  /* background-color: rgb(210, 210, 210); */
  /* background-image: linear-gradient(155deg, transparent, transparent 30%, rgb(240, 240, 240) 30%, rgb(240, 240, 240)); */
  padding: 0 10px 0 180px;
  transition: all 0.5s;
}

.board .review-viewer .review-wrapper .review-container {
  width: 0px;
  border-top: solid 2px rgb(210, 210, 210);
  height: 0px;
  transition: all 0.5s;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  align-self: flex-end;
  gap: 12px;
}
.board .review-viewer .review-wrapper .review-container.most-reviewed {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  transition: all 0.5s;
}
/* .board .review-wrapper:hover .review-container {
  height: 500px;
  border-top: solid 2px rgb(240, 240, 240);
  border-bottom: solid 2px rgb(240, 240, 240);
  transition: all 0.5s;
} */

.board .review-viewer .review-wrapper:hover .heading h2 {
  transition: all 0.5s;
}



.chevrons {
  display: flex;
  flex-direction: row;
  border: solid 1px red;
  position: relative;
  margin: 0 auto 0 auto;
  width: 1000px;
}
.chevrons div {
  display: flex;
  flex-direction: row;
  position: static;
  top: 320px;
}
.chevrons .left-chevron {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 10%;
  /* left: 50px; */
  /* background-color: skyblue; */
}
.chevrons .right-chevron {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 10%;
  /* background-color: rgb(255, 137, 137); */
}
.chevrons div i {
  color: rgb(255, 255, 255, 0.7);
  font-size: 60px;
  cursor: pointer;
  z-index: 20;
}

.chevrons div #leftChevron {
  /* background-color: blue; */
}

.chevrons div #rightChevron {
  /* background-color: red; */
}