.board {
  height: fit-content;
  min-height: 50vh;
  padding-bottom: 120px;
}
.board .review-menu {
  position: fixed;
  width: 200px;
  height: 100vh;
  background-color: rgb(160, 160, 160);
}
.board .review-menu h1 {
  font-weight: 900;
  font-size: 25px;
  color: black;
  text-align: end;

  padding-right: 20px;
  padding-top: 20px;
}
.board .review-menu ul {
  margin-top: 30px;
  height: 150px;
  display: flex;
  flex-direction: column;
  padding-right: 20px;
  justify-content: space-between;
  align-items: flex-end;
}
.board .review-menu label {
  color: black;
  cursor: pointer;
  font-weight: 900;
  font-size: 40px;
}
.board .make-review {
  cursor: pointer;
  color: white;
  width: 30px;
  height: 30px;
  position: fixed;
  padding: 10px;
  font-size: 30px;
  border-radius: 50%;
  border: solid 2px white;
  box-shadow: 0px 0px 5px white;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 150px;
  bottom: 300px;
}
.boar .review-viewer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.board .review-viewer .review-wrapper {
  margin: 20px 0 20px 250px;
  width: calc(100% - 300px);
  padding-bottom: 20px;
}
.board .review-viewer .review-wrapper input[type="checkbox"] {
  display: none;
}
.board .review-viewer .review-wrapper input[type="checkbox"]:checked ~ .review-container {
  padding: 30px 0;
  height: 700px;
  transition: all 0.5s;
  overflow: auto;
}

.board .review-viewer .review-wrapper .heading {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 50px;
}
.board .review-viewer .review-wrapper .heading h2 {
  line-height: 60px;
  display: inline-block;
  height: 60px;
  font-weight: 900;
  font-size: 25px;
  color: white;
  /* border-start-start-radius: 100%; */
  /* background-color: rgb(210, 210, 210); */
  /* background-image: linear-gradient(155deg, transparent, transparent 30%, rgb(240, 240, 240) 30%, rgb(240, 240, 240)); */
  padding: 0 10px 0 180px;
  transition: all 0.5s;
}

.board .review-viewer .review-wrapper .review-container {
  border-top: solid 2px rgb(210, 210, 210);
  height: 0px;
  transition: all 0.5s;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.board .review-viewer .review-wrapper .review-container.most-reviewed {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  transition: all 0.5s;
}
/* .board .review-wrapper:hover .review-container {
  height: 500px;
  border-top: solid 2px rgb(240, 240, 240);
  border-bottom: solid 2px rgb(240, 240, 240);
  transition: all 0.5s;
} */

.board .review-viewer .review-wrapper:hover .heading h2 {
  transition: all 0.5s;
}
