.carousel {
  height: 50vh;
  overflow: hidden;
}
.carousel .chevrons {
  border: solid 1px red;
  position: relative;
}
.carousel .chevrons div {
  position: absolute;
  top: 400px;
  cursor: pointer;
  z-index: 20;
}
.carousel .chevrons .left-chevron {
  left: 50px;
}
.carousel .chevrons .right-chevron {
  right: 50px;
}
.carousel .chevrons div i {
  color: rgb(255, 255, 255, 0.7);
  font-size: 60px;
}
.carousel .indicator-wrapper {
  position: relative;
}
.carousel .indicator-wrapper .indicator {
  position: absolute;
  left: 50vw;
  top: calc(42vh + 20px);
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  width: 120px;
}
.carousel .indicator-wrapper .indicator .slug {
  width: 15px;
  height: 10px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255, 0.7);
  transition: all 0.5s;
}
.carousel .indicator-wrapper .indicator .slug:first-child {
  width: 50px;
}
.carousel .carousel-constainer {
  height: 0;
  position: relative;
  left: -100vw;
  display: flex;
  width: 300vw;
  height: 100%;
}
.carousel .carousel-constainer .carousel-box {
  position: relative;
  width: 100vw;
  height: 100%;
  overflow: hidden;
  transition: all 0.5s;
}
.carousel .carousel-constainer .carousel-box img {
  position: absolute;
  width: 100%;
  opacity: 0.4;
  filter: blur(50px);
}

.movies-grouped {
  height: 120vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  gap: 20px;
}
.movies-grouped > div {
  width: 100%;
  height: 100%;
}

.movies-grouped > div .movie-list {
  width: calc(100% - 60px);
  height: calc(95% - 40px);
  margin: 0 auto;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}
