main {
  padding-top: 150px;
  height: calc(100% - 150px);
  overflow: hidden;
}
nav {
  position: fixed;
  width: calc(100vw - 40px);
  height: 150px;
  background-color: rgb(30, 30, 30);
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  box-shadow: 0px 0px 10px rgb(255, 255, 255, 0.5);
  transition: all 1s;
}
nav .logo {
  width: 200px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  overflow: hidden;
}
nav .logo > * {
  transition: all 1s;
}
nav .logo .app-name {
  color: white;
  cursor: pointer;
  padding: 10px 10px 10px 5px;
}
nav .logo .logo-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: aliceblue;
  cursor: pointer;
}
nav .menu {
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 20px;
  gap: 20px;
}
nav .menu li {
  height: 30px;
  padding: 5px;
  color: white;
  cursor: pointer;
}
.sign section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.sign section header {
  background-color: rgb(30, 30, 30);
  width: 100%;
  height: fit-content;
}
.sign section header h2 {
  color: white;
  margin: 18px 0 14px 24px;
  font-weight: 900;
  font-size: 24px;
  border-bottom: solid 1px white;
  padding: 0 0 12px 6px;
}
.sign section form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 14px;
}
.sign section form .input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.sign section form .input-wrapper label {
  font-size: 16px;
  align-self: flex-start;
  font-weight: 800;
}
.sign section form .input-wrapper input {
  width: 120%;
  height: 36px;
  border: none;
}

.sign section form .error-message {
  color: rgb(185, 0, 0);
  font-size: 20px;
  font-weight: 900;
}
.sign section form .error-message:empty {
  display: none;
}
.sign section form .button-wrapper {
  width: 100%;
  margin-top: 12px;
  display: flex;
  justify-content: center;
  gap: 12px;
}
.sign section form .button-wrapper > * {
  width: 28%;
  display: block;
  border: none;
  padding: 8px 0;
  cursor: pointer;
  font-size: 16px;
}

.sign section form .button-wrapper input {
  background-color: white;
}
.sign section form .button-wrapper input:hover {
  outline: rgb(180, 180, 180) solid 2px;
  outline-offset: 3px;
}
.sign section form .button-wrapper button {
  background-color: rgb(30, 30, 30);
  color: white;
}
.sign section form .button-wrapper button:hover {
  outline: rgb(60, 60, 60) solid 2px;
  outline-offset: 3px;
}
