{%if is_modal_covered=="on" %}{% extends "inheritance/modal.html"%} {%block content%}
<div class="movie-search">
  <header>
    <h2 id="modalTitle">Select Movie First</h2>
    <div class="divider"></div>
  </header>
  <form onsubmit="handleSubmitSearchMovie(event)">
    <label for="movieTitle">movie title</label>
    <input id="movieTitle" type="text" />
    <button>search</button>
  </form>
  <div class="search-panel">
    <div id="searchLeft" onclick="handleClickSearchLeft()" style="display: none; cursor: pointer; font-size: 30px">
      <i class="bi bi-chevron-left"></i>
    </div>
    <div id="moviesSearched" class="movies-seached"></div>
    <div id="searchRight" onclick="handleClickSearchRight()" style="display: none; cursor: pointer; font-size: 30px">
      <i class="bi bi-chevron-right"></i>
    </div>
  </div>
</div>
{%endblock%}
<!-- -->
{% elif is_modal_covered=="off" %}
<div class="movie-search">
  <header>
    <h2 id="modalTitle">Select Movie First</h2>
    <div class="divider"></div>
  </header>
  <form onsubmit="handleSubmitSearchMovie(event)">
    <label for="movieTitle">movie title</label>
    <input id="movieTitle" type="text" />
    <button>search</button>
  </form>
  <div class="search-panel">
    <div id="searchLeft" onclick="handleClickSearchLeft()" style="display: none; cursor: pointer; font-size: 30px">
      <i class="bi bi-chevron-left"></i>
    </div>
    <div id="moviesSearched" class="movies-seached"></div>
    <div id="searchRight" onclick="handleClickSearchRight()" style="display: none; cursor: pointer; font-size: 30px">
      <i class="bi bi-chevron-right"></i>
    </div>
  </div>
</div>
{% endif %}
