<div
  id="popup"
  style="
    position: fixed;
    left: 50%;
    top: 50vh;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 150px;
    border-top: solid 12px rgb(30, 30, 30);
    border-right: solid 8px rgb(30, 30, 30);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(30, 30, 30);
  "
>
  <p id="popupMasseage">{{message}}</p>
  <div id="confirm" style="padding: 3px; cursor: pointer; background-color: bisque" onclick="handleClickPopupConfirm()">
    <i class="bi bi-check-lg"></i>
  </div>
</div>
