{% if direction == 'vertical' %}
<!-- -->
{% for item in movies %}
<section class="poster-plate" onclick="handleClickMoviePoster('{{item.code}}')">
  <div class="img-frame">
    <img src="{{item.image}}" height="360" width="280" />
  </div>
  <div class="movie-content">
    <div class="movie-title">{{item.title}}</div>
    <div class="rating">
      <div class="star-wrapper">
        <div class="star-rating">
          <span style="width: calc({{item.naverRating}} / 10 * 100%)"></span>
        </div>
      </div>
      <div class="star-score">{{item.naverRating}} 점</div>
    </div>
  </div>
</section>
{% endfor %}
<!-- -->
{% elif direction == 'horizontal' %}
<!-- -->
{% for item in movies %}
<div class="poster-horizontal">
  <section class="poster-plate" onclick="handleClickMovieUpsert('{{item.code}}')">
    <div class="poster-wrapper">
      <div class="img-frame"><img src="{{item.image}}" height="420" width="320" class="poster-Image" /></div>
    </div>
    <div style="flex: 2; height: 100%"></div>
    <div class="poster-details">
      <div class="title-wrapper">
        <div class="title">{{item.title}}</div>
        <div class="divider"></div>
      </div>
      <div class="rating">
        <div class="star-wrapper">
          <div class="star-rating">
            <span style="width: calc({{item.naverRating}} / 10 * 100%)"></span>
          </div>
        </div>
        <div class="star-score">{{item.naverRating}}</div>
      </div>
      <div class="details">
        <div class="director"><span>감독</span> {{item.director}}</div>
        <div class="actors"><span>출연</span> {{item.actor}}</div>
        <div class="release-date"><span>개봉일</span> {{item.pubDate}}</div>
      </div>
    </div>
  </section>
</div>
{% endfor %}
<!-- -->
{% endif %}
