{% extends "inheritance/modal.html"%}
<!-- -->
{% block content%}
<div class="reviewPlate">
  <header>
    <h2 style="color:white">Review</h2>
    <div class="divider"></div>
  </header>
  <div class="content-container">
    <div class="about-movie">
      <div class="poster-wrapper"><img src="{{data.movie.image}}" width="255" height="388" /></div>
      <div class="title">
        <div class="value">{{data.movie.title}}</div>
        <div class="divider"></div>
      </div>
    </div>
    <div class="about-review">
      <div class="main">
        <div class="title"><span>{{data.title}}</span></div>
        <div class="divider"></div>
        <div class="infor">
          <div class="rating">
            <div class="star-wrapper">
              <div class="star-rating">
                <span style="width: calc({{data.userRating}} / 10 * 100%)"></span>
              </div>
            </div>
            <div class="star-score"><div class="label">작성자 평점</div><div class="rate">{{data.userRating}} <span>점</span></div></div>
          </div>
          <div class="details">
            <div class="user"><span>id </span>{{data.username}}</div>
            <div class="pub"><span>created </span>{{data.time}}</div>
          </div>
        </div>
        <div class="divider"></div>
        <div class="content">{{data.comment}}</div>
      </div>
      <div class="ui">
        <div class="wrapper">
          <div class="like" onclick="handleClickReviewLike()">
            <i class="icon bi bi-hand-thumbs-up"></i>
            <div id="likeScore" class="score">{{data.likecount}}</div>
          </div>
          <div class="edit" id="reviewEdit" onclick="handleClickReviewEdit()">Edit</div>
          <div class="remove"onclick="handleClickReviewDelete()"">Delete</div>
        </div>
      </div>
    </div>
  </div>
</div>
{%endblock%}
