{% for review in reviews %}
<section class="review-card" onclick="handleClickViewReview('{{review._id}}')">
  <div class="about-movie">
    <img src="{{review.image}}" height="240" width="180" />
    <div class="title">{{review.m_title}}</div>
    <div class="rating">작성자 평점 {{review.userRating}}</div>
    <div class="divider"></div>
  </div>
  <div class="review-summary">
    <div class="title">{{review.title}}</div>
  </div>
  <div class="review-infor">
    <div class="username">{{review.username}}</div>
    <div>{{review.time}}</div>
  </div>
</section>
{% endfor %}

<div class="chevrons-rev" value="{{query}}_max={{max_page}}">
  <div class="left-chevron" onclick="handleClickReviewLeft('{{query}}')">          
    <i id="leftChevron" class="bi bi-chevron-compact-left"></i>
    <a>이전</a>
  </div>
  <div class="right-chevron" onclick="handleClickReviewRight('{{query}}')">
    <a>다음</a>
    <i id="rightChevron" class="bi bi-chevron-compact-right"></i>
  </div>
</div>
