{% for reivew in reviews %}
<section class="review-card">
  <div class="about-movie">
    <img src="{{reivew.movie.image}}" height="240" width="180" />
    <div class="title">{{reivew.movie.title}}</div>
    <div class="rating">작성자 평점 {{reivew.userRating}}</div>
    <div class="divider"></div>
  </div>
  <div class="review-summary">
    <div class="title">{{reivew.title}}</div>
  </div>
  <div class="review-infor">
    <div class="username">{{reivew.username}}</div>
    <div>{{reivew.time}}</div>
  </div>
  <!-- <div>
    <div
      style="
        border: solid 2px greenyellow;
        color: white;
        width: 125px;
        height: 125px;
        margin-bottom: 10px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
      "
      id="viewReview"
      onclick="handleClickViewReview()"
    >
      확인하기
    </div>
    <div style="border: solid 2px greenyellow; color: white; width: 125px; height: 125px"></div>
  </div> -->
</section>
{% endfor %}
