{% extends "inheritance/modal_small.html"%} {%block content%}
<section>
  <header><h2>sign up</h2></header>
  <form onsubmit="handleSubmitSignUp(event)">
    <div class="input-wrapper">
      <label for="signUpId">id</label>
      <input
        oninput="handleInputSignUpId(event)"
        id="signUpId"
        type="text"
        required
        minlength="3"
        maxlength="15"
        autocomplete="username"
      />
    </div>

    <div class="input-wrapper">
      <label for="signUpPw">password</label>
      <input
        oninput="handleInputSignUpPw(event)"
        id="signUpPw"
        type="password"
        required
        minlength="8"
        maxlength="15"
        autocomplete="password"
      />
    </div>

    <div class="input-wrapper">
      <label for="signUpConfirm">confirm</label>
      <input
        oninput="handleInputSignUpConfirm(event)"
        id="signUpConfirm"
        type="password"
        required
        minlength="8"
        maxlength="15"
        autocomplete="password"
      />
    </div>

    <div id="signUpErrorMessage" class="error-message"></div>
    <div class="button-wrapper">
      <input type="button" value="cancel" onclick="handleClickSignUpCancel()" />
      <button>submit</button>
    </div>
  </form>
</section>
{%endblock%}
