#AppContainer {
  height: 150vh;
  background-color: rgb(60, 60, 60);
}
#AppContainer nav {
  width: calc(100%-40px);
  height: 150px;
  background-color: rgb(30, 30, 30);
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
#AppContainer nav .logo {
  width: 200px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#AppContainer nav .logo .app-name {
  color: white;
  cursor: pointer;
}
#AppContainer nav .logo .logo-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: aliceblue;
  cursor: pointer;
}
#AppContainer nav .menu {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 20px;
  gap: 20px;
}
#AppContainer nav .menu li {
  height: 30px;
  padding: 5px;
  color: white;
  cursor: pointer;
}
#AppContainer .sign {
  height: 100%;
  position: fixed;
  margin: 0 auto;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  background-color: transparent;
  display: none;
}
#AppContainer .sign .sign-in,
#AppContainer .sign .sign-up {
  margin: 20px auto 0 auto;
  width: 200px;
  height: 150px;
  background-color: tomato;
  display: none;
}
