.sign {
  height: 100%;
  position: fixed;
  margin: 0 auto;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  z-index: 999;
}
.sign .sign-in,
.sign .sign-up {
  margin: 20px auto 0 auto;
  width: 330px;
  height: 400px;
  background-color: rgb(120, 120, 120);
  display: none;
}
.sign section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
.sign section form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  gap: 10px;
}
.sign section form .error-message {
  color: salmon;
  font-size: 30px;
}
