{% extends "base.html"%}
<!--  -->
{% block title %}{%endblock%}
<!--  -->
{% block App %}
<div id="AppContainer">
  <nav>
    <div class="logo">
      <div class="logo-image"></div>
      <span class="app-name">movie toy</span>
    </div>
    <ul class="menu">
      <li>review</li>
      <li onclick="showSignIn()">sign in</li>
      <li onclick="showSignUp()">sign up</li>
    </ul>
  </nav>
  <section id="sign" class="sign" onclick="hideSign()">
    <div id="signIn" class="sign-in" onclick="event.stopPropagation()">IN</div>
    <div id="signUp" class="sign-up" onclick="event.stopPropagation()">UP</div>
  </section>
  <main>{% block main%}{%endblock%}</main>
</div>
{% endblock %}
<!--  -->
