{% extends "inheritance/header.html"%}
<!--  -->
{% block title %}Home{%endblock%}
<!--  -->
{% block main %}
<section id="carousel" class="carousel" style="border: solid 2px salmon"></section>
<section class="movies-grouped" style="border: solid 2px gold">
  <div class="now-playing" style="border: solid 2px PaleVioletRed">
    <h2>now playing</h2>
    <div id="movieListNow" class="movie-list" style="border: solid 2px OliveDrab"></div>
  </div>
  <div class="trending" style="border: solid 2px PaleVioletRed">
    <h2>trending</h2>
    <div id="movieListTrending" class="movie-list" style="border: solid 2px OliveDrab"></div>
  </div>
</section>

{% endblock %}
<!--  -->
