<!DOCTYPE html>
<html>
  <head>
    <title>TESTTEST</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>
  <body>
    <h1>TESTTEST</h1>
    {{ a }}
    <button id="testbtn">test</button>
    <div id="testdiv"></div>
    <script>
      $(() => {
        console.log("READY");
      });

      const btn = document.getElementById("testbtn");
      btn.addEventListener("click", (event)=>{
        console.log("CLICK");
        // $.get("/test2?dir=right", (res)=>{
        //   console.log("SUCCESS");
        //   $("#testdiv").text(JSON.stringify(res))
          
        // });
        const review = {
            "code": 198413,
            "username": "8집주세요",
            "title": "박찬욱이 박찬욱했다",
            "comment": "난해한 전개. 상징성이 가득한 연출. 오묘하면서도 섬세한 감정선. 작품 해석 면에서는 분명 재미있지만 까다로운 영화. 박해일 연기는 일품",
            "userRating": "9.00",
        }
        $.ajax({
          type: "POST",
          url: "/review",
          data: review,
          success: (response) => {
            console.log(response);            
            
          }
        })
      });
    </script>
  </body>
</html>
<!-- 63170577d4008f8d8ff93876 -->