{% extends "base.html"%}
<!--  -->
{% block title %}{%endblock%}
<!--  -->
{% block content %}
<div id="AppContainer">
  <nav id="header">
    <div id="logo" class="logo" onclick="handleClickLogo()">
      <div id="mainLogo" class="main-logo">
        <div class="logo-image" ></div>
        <span class="app-name">movie toy</span>
      </div>
      <div id="subAppname" class="sub-appname" onclick="handleClickLogo()">movie toy</div>
    </div>
    <ul class="menu">
      <li onclick="handleClickMyPage()">mypage</li>
      <li onclick="handleClickReview()">review</li>
      {% if session == "in"%}
      <li class="logout" onclick="handleClickLogOut()">log out</li>
      {%endif%} {% if session == "out"%}
      <li onclick="handleClickSignIn()">sign in</li>
      <li onclick="handleClickSignUp()">sign up</li>
      {%endif%}
    </ul>
  </nav>
  <section id="sign" class="sign" onclick="hideSign()"></section>
  <main>{% block main%}{%endblock%}</main>
</div>
{% endblock %}
<!--  -->
