<div style="display: flex; flex-direction: column; align-items: center; gap: 10px">
  <h2 id="modalTitle">make review</h2>
  <h3 id="movie-title">{{ movie_title}}</h3>
  <form
    onsubmit="handleSubmitMovieUpsirt(event)"
    style="display: flex; flex-direction: column; align-items: center; justify-content: center"
  >
    <textarea name="" id="" cols="30" rows="10"></textarea>
    <div style="display: flex">
      <button>submit</button>
      <input type="button" value="cancel" onclick="handleClickMovieUpsirtCancel()" />
    </div>
  </form>
</div>
