{% extends "inheritance/modal_small.html"%} {%block content%}
<section>
  <h2>sign in</h2>
  <form onsubmit="handleSubmitSignIn(event)">
    <input oninput="handleInputSignInId(event)" id="signInId" type="text" required minlength="3" maxlength="15" />
    <input oninput="handleInputSignInPw(event)" id="signInPw" type="password" required minlength="8" maxlength="15" />
    <div id="signInErrorMessage" class="error-message"></div>
    <button>submit</button>
    <input type="button" value="cancel" onclick="handleClickSignInCancel()" />
  </form>
</section>
{%endblock%}
