{% extends "inheritance/modal_small.html"%} {%block content%}
<section>
  <header><h2>sign in</h2></header>
  <!-- <form onsubmit="handleSubmitSignIn(event)">
    <label for="signInId">id</label>
    <input oninput="handleInputSignInId(event)" id="signInId" type="text" required minlength="3" maxlength="15" />
    <label for="signInPw">password</label>
    <input oninput="handleInputSignInPw(event)" id="signInPw" type="password" required minlength="8" maxlength="15" />
    <div id="signInErrorMessage" class="error-message"></div>
    <div><button>submit</button> <input type="button" value="cancel" onclick="handleClickSignInCancel()" /></div>
  </form> -->
  <form onsubmit="handleSubmitSignIn(event)">
    <div class="input-wrapper">
      <label for="signUpId">id</label>
      <input oninput="handleInputSignInId(event)" id="signInId" type="text" required minlength="3" maxlength="15" />
    </div>

    <div class="input-wrapper">
      <label for="signInPw">password</label>
      <input oninput="handleInputSignInPw(event)" id="signInPw" type="password" required minlength="8" maxlength="15" />
    </div>

    <div id="signInErrorMessage" class="error-message"></div>
    <div class="button-wrapper">
      <input type="button" value="cancel" onclick="handleClickSignInCancel()" />
      <button>submit</button>
    </div>
  </form>
</section>
{%endblock%}
