{% extends "inheritance/center_board.html"%}
<!--  -->
{% block title %}Review{%endblock%}
<!--  -->
{% block board %}

<div id="reviewMenu" class="review-menu">
  <h1 id="reviewH1" onclick="handleClickReviewH1()">Review</h1>
  <div class="divider"></div>
  <ul>
    <li id="recentLi">
      <label id="recentLabel" for="recentCheckBox" onclick="handleClickRecentLabel()">recent</label>
    </li>
    <li id="popularLi">
      <label id="popularLabel" for="popolarCheckBox" onclick="handleClickPopularLabel()">popular</label>
    </li>
    <li id="mostLi"><label id="mostLabel" for="mostCheckBox" onclick="handleClickMostLabel()">movies</label></li>
  </ul>
  <div class="divider"></div>
  <div class="create-review">
    <div onclick="handleClickMakeReview()">create</div>
  </div>
</div>
<div class="review-viewer">
  <div class="review-wrapper">
    <input type="checkbox" name="review" id="recentCheckBox" />
    <div class="heading">
      <h2>최근 작성된 리뷰</h2>
    </div>
    <div id="recentReview" class="review-container"></div>
  </div>
  <div class="review-wrapper">
    <input type="checkbox" name="review" id="popolarCheckBox" />
    <div class="heading">
      <h2>인기 많은 리뷰</h2>
    </div>
    <div id="popularReview" class="review-container"></div>
  </div>
  <div class="review-wrapper">
    <input type="checkbox" name="review" id="mostCheckBox" />
    <div class="heading">
      <h2>리뷰가 많이 달린 영화</h2>
    </div>
    <div id="mostReviewed" class="review-container most-reviewed"></div>
  </div>
</div>
<div id="createReview"></div>
<div id="reviewViewer"></div>
{% endblock %}
<!--  -->
