.poster-plate {
  color: white;
  font-size: 16px;
  width: 320px;
  height: 480px;
  padding: 20px;
  background-color: rgb(18, 18, 18);
  box-shadow: 2px 2px 8px rgba(255, 255, 255, 0.2);
}
.poster-plate .movie-content {
  height: 20%;
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.poster-plate .movie-content .movie-title {
  margin: 5px 0;
  font-size: 16px;
  font-weight: 800;
}
.poster-plate .movie-content .rating {
  display: flex;
  justify-content: flex-start;
}

.poster-horizontal {
  margin: 10px 0;
  padding: 0 40px;
}
.poster-horizontal .poster-plate {
  background-color: white;
  width: 100%;
  display: flex;
  padding: 5px;
  cursor: pointer;
  height: 360px;
  position: relative;
  box-shadow: 1px 2px 5px rgb(0, 0, 0, 0.3);
}
.poster-horizontal .poster-plate .poster-wrapper {
  position: absolute;
  inset: -0.8rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 2;
}
.poster-horizontal .poster-plate .poster-details {
  flex: 3;
  color: black;
}
.poster-horizontal .poster-plate .poster-details .title-wrapper {
  position: relative;
}
.poster-horizontal .poster-plate .poster-details .title-wrapper .title {
  position: absolute;
  background-color: rgb(30, 30, 30);
  color: rgb(225, 225, 225);
  right: 30px;
  padding: 12px;
  font-size: 50px;
  font-weight: 900;
  z-index: 2;
}
.poster-horizontal .poster-plate .poster-details .title-wrapper .divider {
  top: 48px;
  left: -120px;
  position: absolute;
  width: 90%;
  height: 5px;
  background-color: rgb(30, 30, 30);
}
.poster-horizontal .poster-plate .poster-details span {
  font-weight: 900;
  text-shadow: 1px 1px 1.5px rgb(0, 0, 0, 0.5);
  margin-right: 14px;
}
.poster-horizontal .poster-plate .poster-details .rating {
  margin-top: 80px;
  position: relative;
}
.poster-horizontal .poster-plate .poster-details .rating .star-wrapper .star-rating {
  position: absolute;
  top: 12px;
  transform: scale(1.1);
}
.poster-horizontal .poster-plate .poster-details .rating .star-score {
  font-size: 32px;
  font-weight: 900;
  position: absolute;
  top: 16px;
  left: 230px;
}
.poster-horizontal .poster-plate .poster-details .details {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.poster-horizontal .poster-plate .poster-details .details .director {
  margin-top: 80px;
}

.star-wrapper {
  width: 90px;
}
.star-wrapper .star-rating {
  width: 205px;
  transform: scale(0.4) translateX(-150px) translateY(-28px);
}
.star-wrapper .star-rating,
.star-wrapper .star-rating span {
  display: inline-block;
  height: 39px;
  overflow: hidden;
  background: url(https://mblogthumb-phinf.pstatic.net/20160204_110/inyoung313_1454565091623XyBJm_PNG/star.png?type=w2)
    no-repeat;
}
.star-wrapper .star-rating span {
  background-position: left bottom;
  line-height: 0;
  vertical-align: top;
}
