.poster-plate {
  color: white;
  font-size: 16px;
  width: 320px;
  height: 480px;
  padding: 20px;
  background-color: rgb(18, 18, 18);
  box-shadow: 2px 2px 8px rgba(255, 255, 255, 0.2);
  cursor: pointer;
}
.poster-plate .img-frame {
  overflow: hidden;
}

.poster-plate .img-frame:hover img {
  transform: scale(1.2);
  transition: all 0.3s;
}
.poster-plate .movie-content {
  height: 20%;
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.poster-plate .movie-content .movie-title {
  margin: 5px 0;
  font-size: 16px;
  font-weight: 800;
}
.poster-plate .movie-content .rating {
  display: flex;
  justify-content: flex-start;
}

.poster-horizontal {
  margin: 48px 0;
  padding: 0 40px;
}
.poster-horizontal .poster-plate {
  /* background-color: white; */
  background-color: rgb(16, 16, 16);
  width: 100%;
  display: flex;
  padding: 5px;
  cursor: pointer;
  height: 15%;
  position: relative;
}
.poster-horizontal .poster-plate .poster-wrapper {
  position: absolute;
  top: -12px;
  left: -3px;
  width: fit-content;
  height: fit-content;
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 2;
  box-shadow: 7px 8px 0px rgb(232, 232, 232);
}
.poster-horizontal .poster-plate .poster-details {
  flex: 3;
  color: black;
}
.poster-horizontal .poster-plate .poster-details .title-wrapper {
  position: relative;
}
.poster-horizontal .poster-plate .poster-details .title-wrapper .title {
  position: absolute;
  color: rgb(225, 225, 225);
  right: 30px;
  padding: 12px 0 12px 12px;
  font-size: 2em;
  font-weight: 900;
  z-index: 2;
}
.poster-horizontal .poster-plate .poster-details .title-wrapper .divider {
  top: 48px;
  left: -120px;
  position: absolute;
  width: 120%;
  height: 5px;
  background-color: rgb(232, 232, 232);
}
.poster-horizontal .poster-plate .poster-details span {
  font-weight: 900;
  text-shadow: 1px 1px 1.5px rgb(0, 0, 0, 0.5);
  margin-right: 14px;
}
.poster-horizontal .poster-plate .poster-details .rating {
  margin-top: 60px;
  position: relative;
}
.poster-horizontal .poster-plate .poster-details .rating .star-wrapper .star-rating {
  position: absolute;
  top: 12px;
  left: -42px;
  transform: scale(0.6);
}
.poster-horizontal .poster-plate .poster-details .rating .star-score {
  font-size: 1.2em;
  font-weight: 900;
  color: rgb(232, 232, 232);
  position: absolute;
  top: 22px;
  left: 136px;
}
.poster-horizontal .poster-plate .poster-details .details {
  font-size: 1em;
  font-weight: 600;
  color: rgb(232, 232, 232);
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.poster-horizontal .poster-plate .poster-details .details .director {
  margin-top: 56px;
}

.poster-horizontal .poster-plate .poster-details .details .actors {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
}
.poster-horizontal .poster-plate .poster-details .details .release-date {
  margin-bottom: 30px;
}
.star-wrapper {
  width: 90px;
}
.star-wrapper .star-rating {
  width: 205px;
  transform: scale(0.4) translateX(-150px) translateY(-28px);
}
.star-wrapper .star-rating,
.star-wrapper .star-rating span {
  display: inline-block;
  height: 39px;
  overflow: hidden;
  background: url(https://mblogthumb-phinf.pstatic.net/20160204_110/inyoung313_1454565091623XyBJm_PNG/star.png?type=w2)
    no-repeat;
}
.star-wrapper .star-rating span {
  background-position: left bottom;
  line-height: 0;
  vertical-align: top;
}
