{% extends "base.html"%}
<!--  -->
{% block title %}{%endblock%}
<!--  -->
{% block App %}
<div id="AppContainer">
  <nav>
    <div class="logo">
      <div class="logo-image" onclick="handleClickLogo()"></div>
      <span class="app-name" onclick="handleClickLogo()">movie toy</span>
    </div>
    <ul class="menu">
      <li onclick="handleClickReview()">review</li>
      <li onclick="handleClickSignIn()">sign in</li>
      <li onclick="handleClickSignUp()">sign up</li>
    </ul>
  </nav>
  <section id="sign" class="sign" onclick="hideSign()">
    <div id="signIn" class="sign-in" onclick="event.stopPropagation()">IN</div>
    <div id="signUp" class="sign-up" onclick="event.stopPropagation()">UP</div>
  </section>
  <main>{% block main%}{%endblock%}</main>
</div>
{% endblock %}
<!--  -->
