<div
  style="
    position: fixed;
    left: 50%;
    top: 50vh;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 200vh;
    background-color: rgb(0, 0, 0, 0.4);
    backdrop-filter: blur(2px);
    z-index: 999;
  "
  id="modalBackground"
  onclick="handleClickModalBack()"
>
  <div
    id="modalContent"
    style="
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 360px;
      height: 700px;
      border: solid 3px tomato;
      background-color: rgb(170, 170, 170);
      display: flex;
      justify-content: center;
      align-items: center;
    "
    onclick="event.stopPropagation()"
  >
    {% block content%}{%endblock%}
  </div>
</div>
