@import url("../inheritance/header.css");
@import url("../home.css");
@import url("../inheritance/center_board.css");
@import url("../review.css");
@import url("../components/review_upsert.css");
@import url("../components/movie_search.css");
@import url("../components/poster_card.css");
@import url("../components/review_card.css");
@import url("../others/404.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(20, 20, 20, 0.3);
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.6);
}
html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
#AppContainer {
  min-height: 100vh;
  height: fit-content;
  background-color: rgb(30, 30, 30);
}
.review-li {
  background-color: white;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
  width: calc(100% + 20px) !important;
}
